<div class="container mt-5 mb-5">
    <div class="row col-lg-8">
        <h1>CONTACT US</h1>
        <form>
            <div class="main">
                <input type="text" class="form-controller col-lg-5 mt-3" placeholder="Enter Your Name">
                <input type="number" class="form-controller col-lg-5 mt-3 new" placeholder="Enter Your Age">
            </div>
            <input type="email" class="form-controller col-lg-12 mt-3" placeholder="Enter Your Email">
            <input type="number" class="form-controller col-lg-12 mt-3" placeholder="Enter Your Mobile No">
            <textarea class="form-controller col-lg-12 mt-3" placeholder="Enter Your Message"></textarea>
            <button>Submit</button>
        </form>
    </div>
</div>
