<div class="container mt-5 mb-5">
    <div class="row">
        <h1 class="text-center bg-primary">ABOUT US </h1>
        <div class="text mt-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, cumque. Illo error optio sapiente recusandae perspiciatis quis, beatae sed voluptate quo perferendis est dicta velit fugiat ipsum quidem asperiores praesentium voluptas at. Similique facere deleniti voluptatum culpa blanditiis corrupti vero molestias, assumenda quo? Facilis, commodi deleniti ipsam, ullam maxime eveniet enim natus, aliquid nisi quo debitis quisquam voluptatum. Illum recusandae, nihil necessitatibus at sed iste quidem voluptate voluptatum optio laudantium placeat animi in non error laborum maxime labore doloribus voluptas eum minus sint dignissimos ipsam. Provident esse ab beatae! Aut, eum? Nostrum assumenda ullam sequi iusto voluptatibus distinctio fugit deserunt?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis eligendi odit eius praesentium sint, quibusdam velit totam labore ducimus repudiandae quisquam veritatis ipsam deserunt doloremque iusto illo enim perferendis. Maxime quibusdam ipsa sint quos. Recusandae maxime, adipisci dicta blanditiis magni, totam dolores deserunt dolorum illo tenetur iusto sequi? Doloribus quod expedita veniam laudantium esse a eius veritatis voluptate. Doloribus quasi explicabo animi. Odit deleniti vitae libero explicabo dignissimos, alias dolores aut totam repudiandae aperiam nesciunt aliquid similique amet maxime eveniet doloremque maiores culpa. Dolores accusantium et at sapiente cum ipsa, veritatis magnam aspernatur! Veritatis reiciendis magni eum cumque soluta est?</p>
            <br>
            <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ea.</b></p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore atque quos nostrum magnam dolorum velit doloribus nulla, optio repellat temporibus repudiandae unde cumque voluptatum? Atque, maxime! Eligendi assumenda nihil similique, fuga minus tempore quae magnam non molestias hic voluptates quos maiores, enim vero labore, voluptatem incidunt vel dolor necessitatibus delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quos.</p>
            <br>
            <p class="text-center "> <b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos recusandae ab nulla quo, sit quam itaque rem temporibus commodi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, nisi.</b></p>
            
        </div>
    </div>
</div>
