.banner{
    background-image: url('../../../../public/images/back.jpg');
    background-position: center top;
    height: 750px;
    background-size: cover;
}
.banner .text{
    position: absolute;
    top: 30%;
    left: 20%;
    color: white; 
}
.banner .text h1{
    margin-bottom: 30px;
}
.banner .text a{
    background-color: white;
    color: red;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
}
.banner .text a:hover{

    color: white;
    background-color: red;
    transition: 1s;
}
.banner .text h1:hover{
    color: red;
    transition: 1s;
}
.container .row .col-lg-4 .inner{
    width: 100%;
    margin: auto;
    height: 200px;
    padding-top: 40px;
    color: white;
    background-color: black;
}
.container .row .col-lg-4 h1{
    color: green;
}
.container{
    margin-bottom: 30px;
    margin-top: 40px;
}
.container .row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap; 
}
.container .row .col-lg-3{
    max-width: 24%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px -10px;
}
.container .row .col-lg-3 img {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    font-size: 18px;  
}
.container a{
    text-decoration: none;
    padding: 15px 15px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.container a:hover{
    background-color: red;
    transition: 1s;
}

/* Small screens (phones): switch to column layout */
@media (max-width: 576px) {
    .container .row {
        flex-direction: column; /* Change direction to column */
        align-items: center; /* Center items in column layout */
    }

    .container .row .col-lg-3 {
        max-width: 100%; /* Full width for each column */
        margin-bottom: 20px;
    }
}

/* Medium screens (tablets): can have 2 or more columns */
@media (max-width: 768px) {
    .container .row {
        flex-direction: row; 
        align-items: center;/* Default to row for medium screens */
    }

    .container .row .col-lg-3 {
        max-width: 100%; /* 2 columns on medium screens */
    }
}

/* Large devices: 4 columns */
@media (min-width: 992px) {
    .container .row .col-lg-3 {
        max-width: 24%; /* 4 columns on large screens */
    }
}